<footer class="artizio-gradient bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between">
    <a class="f4 fw4 hover-white white-90 dn dib-ns pv2 ph3 no-underline" href="{{ .Site.Home.Permalink }}">
      &copy; {{ now.Format "2006"}} Ribicube LLC. All rights reserved.
    </a>
    <div class="flex items-center">
      <a href="/terms/" class="f5 fw4 hover-white white-90 pv2 ph3 no-underline">Terms</a>
      <a href="/policy/" class="f5 fw4 hover-white white-90 pv2 ph3 no-underline">Privacy Policy</a>
    </div>
  </div>
  <div class="tc pt3">
    <p class="f5 white-90">
      🎨 Artizio - Transform your photos into amazing coloring pages! 🌈
    </p>
  </div>
</footer> 